<html>
  <body>
    <h2>Doğrulama Kodunuz Yenilendi</h2>
    <p>Merhaba {{firstName}},</p>
    <p>Doğrulama kodunuzun süresi dolduğu için yeni bir kod ve doğrulama linki oluşturduk.</p>
    <p><b>Kodunuz:</b> <span style="font-size: 1.2em;">{{code}}</span></p>
    <p>Doğrulama için aşağıdaki linke tıklayın:</p>
    <p><a href="{{verifyUrl}}">E-posta adresinizi doğrulamak için buraya tıklayın</a></p>
    <p>Bu kod 10 dakika geçerlidir.</p>
    <p>Teşekkürler,<br/>Destek Ekibi</p>
  </body>
</html> 